h1{
    sup{
        font-size: 16px;
        font-style: italic;
    }
}

.your-color{
    display: flex;
    align-items: center;
    app-piece{
        display: inline-block;
        transform: scale(0.5);
        transform-origin: center;

    }
}

.github-link{
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0.5;
}

.github-link:hover{
    opacity: 1;
}

.twitter-link{    
    position: absolute;
    top: 40px;
    right: 10px;
}

#twitter-icon {
    color: #1da1f2;
    fill: currentColor;
    opacity: 0.5;
    width: 30px;
    height: 30px;
  }
  
  #twitter-icon:hover {
    opacity: 1;
  }