<h2>Installation tuturial</h2>
<ul>
    <li>Install <a href="https://metamask.io/">Metamask</a></li>
    <li>(optinal) Add new accout</li>
    <li>Add new network to metmask (settings -> network>
        <ul>
            <li>Name: Matic Mumbai Testnet</li>
            <li>RPC-URL: {{_blockchainService.connection.chainRpc}}</li>
            <li>Chain ID: {{_blockchainService.connection.chainId}}</li>
            <li>Currency Symbol: {{_blockchainService.connection.currencySymbol}}</li>
            <li>Block-Explorer URL: {{_blockchainService.connection.blockExplorerUrl}}</li>
        </ul>
    </li>
    <li>Get Test-Matic from  <a href="https://faucet.matic.network/">Matic Faucet</a></li>
    <li>Connect you account with Metamask now!</li>
</ul>
